h1 {
    font-family: var(--st-main-text);
    font-weight: 600;
    line-height: 3rem;
    font-size: 2.75rem;
}
h2 {
    font-family: var(--st-main-text);
    font-weight: 500;
    line-height: 2.5rem;
    font-size: 2.25rem;
}
h3 {
    font-family: var(--st-main-text);
    font-weight: 300;
    line-height: 2rem;
    font-size: 1.75rem;
}
h4 {
    font-family: var(--st-other-text);
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 0.75rem;
}
h5 {
    font-family: var(--st-main-text);
    font-weight: 200;
    line-height: 1rem;
    font-size: 1.25rem;
}
h6 {
    font-family: var(--st-main-text);
    font-weight: 400;
    line-height: 1rem;
    font-size: 0.60rem;
}
p {
    font-family: var(--st-other-text);
    font-weight: 200;
    line-height: 1.5rem;
    font-size: 0.75rem;
}