@import './stylesheets/variables.css';
@import './stylesheets/typography.css';
@import './stylesheets/reset.css';

@import './components/Nav.module.css';
@import './components/Footer.module.css';
@import './components/Page.module.css';